@import "../../../../../../bower-asset/bootstrap/scss/bootstrap.scss";

@import "./scss/_tooltip.scss";
@import "./scss/_samp.scss";
@import "./scss/_scalars.scss";
@import "./scss/_entity.scss";
@import "./scss/_badge.scss";
@import "./scss/_list.scss";
@import "./scss/_stack.scss";
@import "./scss/_signature.scss";
@import "./scss/_source.scss";

body {
    padding: 0;
    margin: 0;
    height: 100%;
    max-height: 100%;

    > .container-fluid {
        padding: 2rem;

        header.stats {
            > div.stats {
                line-height: 1;
            }
        }
    }
}


html {
    height: 100%;

    &.dump {
        header.stats {
            margin-bottom: 2rem;
        }
    }
}

html.exception {
    body {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 961px) {
            overflow: hidden;
        }
        @media screen and (max-width: 960px) {
            max-height: none;
            height: auto;
        }

        > .container-fluid {
            padding: 0;
            flex: 1 1 100%;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;

            @media screen and (min-width: 961px) {
                max-height: 100vh;
            }
        }

        header.title {
            color: white;
            padding: 0.5rem 0.9rem;
            background: linear-gradient(to bottom, rgba(darken($red, 5%), 0.85), rgba(darken($red, 5%), 0.95));
            border-bottom: 2px solid desaturate(darken($red, 10%), 20%);

            h1 {
                margin: 0;
                font-weight: 200;
                text-transform: uppercase;
                letter-spacing: 0.2em;
                font-size: 1.75em;
                line-height: 1;

                span.version {
                    font-size: 0.5em;
                    text-transform: none;
                }
            }
        }

        header.stats {
            padding-bottom: 0.25rem;

            > div.stats {
                span {
                    border: 1px solid rgba(white, 0.65);
                }
            }
        }


        section {
            display: flex;

            > div {
                display: flex;
                flex: 1 1 auto;
            }

            h3 {
                margin: 0;
                font-weight: 100;
                text-transform: uppercase;
                letter-spacing: 0.2em;
                font-size: 0.9em;
                line-height: 1;
                background: linear-gradient(to bottom, rgba(#888, 0.7), rgba(#777, 0.7));
                color: white;
                padding: 0.35rem 1rem;
                position: relative;
            }

            samp.dump {
                margin: 0;
                padding: 0.75rem 1rem;
                flex: 1 1 auto;
                font-size: 0.8em;

                > h3:first-child {
                    font-size: 1.5em;
                    margin-bottom: 1em;
                }
            }
        }


        section.cols {
            flex: 1 1 100%;
            padding-bottom: 0;
            display: flex;
            align-items: stretch;
            box-sizing: border-box;

            @media screen and (max-width: 960px) {
                flex-direction: column;
            }

            > div {
                box-sizing: border-box;
                display: flex;
                flex: 1 1 45%;
                box-sizing: border-box;
                position: relative;

                @media screen and (min-width: 961px) {
                    min-height: 20rem;
                }

                @media screen and (max-width: 500px) {
                    flex: 1 1 100%;
                }


                div.frame {
                    width: 100%;

                    @media screen and (min-width: 961px) {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;

                        height: 100%;
                        overflow-y: auto;
                        overflow-x: hidden;
                    }
                }

                samp.dump {
                    padding: 1.25rem 2rem;
                }

                &.left {
                    flex-direction: column;

                    @media screen and (min-width: 961px) {
                        h3 {
                            border-right: 1px solid #888;
                        }

                        samp.dump {
                            border-right: 1px solid #DDD;
                        }

                        > div {
                            border-right: 1px solid #CCC;
                        }
                    }


                    samp.dump.exception {
                        background: white;
                        min-width: 0;
                        border-radius: 2px;

                        div.message {
                            margin-bottom: 1rem;

                            &:last-child {
                                margin-bottom: 0;
                            }

                            div.line {
                                font-size: 2em;
                                border: none;
                            }

                            div.string.m {
                                &:before, &:after {
                                    content: '!!!';
                                }
                            }
                        }

                        .attr {
                            color: var(--pink);
                            font-weight: 600;

                            .label {
                                color: var(--gray);
                                font-weight: normal;

                                &:after {
                                    content: ':';
                                }
                            }
                        }
                    }

                    > div {
                        background: #EEE;
                        position: relative;
                        height: 100%;
                        flex: 1 1 100%;
                    }
                }

                &.right {
                    @media screen and (max-width: 960px) {
                        min-height: 30vh;
                    }

                    samp.dump {
                        overflow-x: auto;

                        &:last-child {
                            margin-bottom: 0;
                            flex: 1 1 100%;
                        }
                    }
                }
            }
        }
    }
}
