:root {
    --background: #3f3f3f;

    --grammar: #adb5bd;
    --keyword: #47d368;
    --keyword-target: #28a744;
    --keyword-sensitive: #e91d49;
    --scalar: #f07eb2;
    --number: #bb9af6;
    --string: #ff828c;
    --length: #3ce0af;
    --resource: #36cfe6;
    --constant: #b8a1e1;
    --comment: #ddb79e;
    --identifier: #fd9a47;
    --definition: #fed2ac;
    --type-name: #dee2e6;
    --id: #c4a1fa;
    --id-target: #8c68cf;
    --binary: #b389f9;

    --badge-info: #17a2b8;
    --badge-info-hover: #11798b;
    --badge-meta: #e83e8c;
    --badge-meta-hover: #d91f71;
    --badge-text: #dc3545;
    --badge-text-hover: #bd2131;
    --badge-definition: #fd7e15;
    --badge-definition-hover: #c35903;
    --badge-properties: #117bff;
    --badge-properties-hover: #0b61cc;
    --badge-values: #fec108;
    --badge-values-hover: #b98a02;
    --badge-stack: #6b757c;
    --badge-stack-hover: #494f53;

    --attr: #ef7fb2;
    --attr-label: #babdc0;

    --list-key: #dee2e6;
    --list-info: #1fc9e3;
    --list-info-icon: #1fc9e3;
    --list-info-key: var(--list-key);
    --list-meta: #f76f7b;
    --list-meta-icon: #fa97a0;
    --list-meta-key: var(--list-key);
    --list-text-icon: #f76f7b;
    --list-definition-icon: #fed2ac;
    --list-property-icon-public: #35ce57;
    --list-property-icon-protected: #fed453;
    --list-property-icon-private: #fbafb6;
    --list-property-icon-virtual: #aa8eda;
    --list-property-key: #a2ceff;
    --list-values-icon: #fed453;
    --list-values-key: #febe88;
    --list-values-key-int: #ddcdfb;
    --list-stack-icon: #adb5bd;

    --frame-number: #adb5bd;
    --frame-file: #cbac90;
    --frame-line: #f081b5;
}
