@use "sass:color";
@use "@/sass/modules/colors" as *;

header.title {
    color: white;
    padding: 0.5rem 0.9rem;

    background: linear-gradient(
        to bottom,
        rgba(color.adjust(#555, $lightness: -15%), 0.85),
        rgba(color.adjust(#555, $lightness: -15%), 0.95)
    );
    border-bottom: 2px solid color.adjust(#222, $lightness: -20%, $saturation: -20%);

    h1 {
        margin: 0;
        font-weight: 200;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        font-size: 1.75em;
        line-height: 1;

        span.version {
            font-size: 0.5em;
            text-transform: none;
        }
    }
}

html.dump {
    header.title {
        background: linear-gradient(
            to bottom,
            rgba(color.adjust($blue, $lightness: -15%), 0.85),
            rgba(color.adjust($blue, $lightness: -15%), 0.95)
        );
        border-bottom: 2px solid color.adjust($blue, $lightness: -20%, $saturation: -20%);
    }

    &.dark {
        header.title {
            border-bottom: 2px solid color.adjust($blue, $lightness: -25%, $saturation: -20%);
        }
    }
}

html.exception {
    header.title {
        background: linear-gradient(
            to bottom,
            rgba(color.adjust($red, $lightness: -5%), 0.85),
            rgba(color.adjust($red, $lightness: -5%), 0.95)
        );
        border-bottom: 2px solid color.adjust($red, $lightness: -10%, $saturation: -20%);
    }

    &.dark {
        header.title {
            border-bottom: 2px solid color.adjust($red, $lightness: -20%, $saturation: -20%);
        }
    }
}

html.incomplete {
    header.title {
        background: linear-gradient(
            to bottom,
            rgba(color.adjust($orange, $lightness: -5%), 0.85),
            rgba(color.adjust($orange, $lightness: -5%), 0.95)
        );
        border-bottom: 2px solid color.adjust($orange, $lightness: -10%, $saturation: -20%);
    }

    &.dark {
        header.title {
            border-bottom: 2px solid color.adjust($orange, $lightness: -20%, $saturation: -20%);
        }
    }
}
