a.badge {
    cursor: help;
    font-size: 0.9em;
    color: white !important;
    background: pink;
    padding: 0 0.5em;
    border-radius: 0.25em;
    transition: background-color 0.35s, opacity 0.2s;
    opacity: 0.3;

    i {
        font-style: normal;
        position: relative;
    }

    &.info {
        background-color: $cyan;

        &:hover {
            background-color: darken($cyan, 10%);
        }

        i {
            top: 0.05em;
        }
    }
    &.meta {
        background-color: $pink;

        &:hover {
            background-color: darken($pink, 10%);
        }
    }
    &.text {
        background-color: $red;

        &:hover {
            background-color: darken($red, 10%);
        }

        i {
            top: 0.05em;
        }
    }
    &.def {
        background-color: $orange;

        &:hover {
            background-color: darken($orange, 15%);
        }
    }
    &.props {
        background-color: $blue;

        &:hover {
            background-color: darken($blue, 10%);
        }

        i {
            top: -0.08em;
        }
    }
    &.values {
        background-color: $yellow;

        &:hover {
            background-color: darken($yellow, 15%);
        }
    }
    &.stack {
        background-color: $gray-600;

        &:hover {
            background-color: darken($gray-600, 15%);
        }
    }
}

div.entity {
    &.w-t-info > div.title a.info,
    &.w-t-meta > div.title a.meta,
    &.w-t-text > div.title a.text,
    &.w-t-def > div.title a.def,
    &.w-t-props > div.title a.props,
    &.w-t-values > div.title a.values,
    &.w-t-stack > div.title a.stack {
        opacity: 1;
    }
}
