:root {
    --background: #3F3F3F;

    --grammar: #ADB5BD;
    --keyword: #47D368;
    --keyword-target: #28A744;
    --scalar: #F07EB2;
    --number: #C4A1FA;
    --string: #F37782;
    --length: #3CE0AF;
    --resource: #36CFE6;
    --constant: #B8A1E1;
    --comment: #DDB79E;
    --identifier: #FD9A47;
    --definition: #FED2AC;
    --type-name: #DEE2E6;
    --id: #C4A1FA;
    --id-target: #8C68CF;
    --binary: #B389F9;

    --badge-info: #17A2B8;
    --badge-info-hover: #11798B;
    --badge-meta: #E83E8C;
    --badge-meta-hover: #D91F71;
    --badge-text: #DC3545;
    --badge-text-hover: #BD2131;
    --badge-definition: #FD7E15;
    --badge-definition-hover: #C35903;
    --badge-properties: #117BFF;
    --badge-properties-hover: #0B61CC;
    --badge-values: #FEC108;
    --badge-values-hover: #B98A02;
    --badge-stack: #6B757C;
    --badge-stack-hover: #494F53;

    --attr: #EF7FB2;
    --attr-label: #BABDC0;

    --list-key: #DEE2E6;
    --list-info: #1FC9E3;
    --list-info-icon: #1FC9E3;
    --list-info-key: var(--list-key);
    --list-meta: #F76F7B;
    --list-meta-icon: #FA97A0;
    --list-meta-key: var(--list-key);
    --list-property-icon-public: #35CE57;
    --list-property-icon-protected: #FED453;
    --list-property-icon-private: #FBAFB6;
    --list-property-icon-virtual: #AA8EDA;
    --list-property-key: #A2CEFF;
    --list-values-icon: #FED453;
    --list-values-key: #fd9a47;
    --list-stack-icon: #ADB5BD;

    --frame-number: #ADB5BD;
    --frame-file: #CBAC90;
    --frame-line: #F081B5;
}
