section.dump.entity {
    background: rgba(#333, 0.6);
}


div.entity {
    display: inline;

    > div.title,
    > div.footer {
        display: inline-flex;
        align-items: center;
        position: relative;
    }

    > div.title {
        > * {
            margin-right: 0.5em;
        }

        .name {
            color: var(--keyword);
            cursor: pointer;
            text-decoration: none;

            i {
                font-style: normal;
            }

            &.ref:before {
                content: '&';
                color: var(--grammar);
                opacity: 0.5;
                margin-right: 0.2em;
            }

            .g {
                color: var(--grammar);
                opacity: 0.5;
            }
        }

        &.t-stack .name {
            color: var(--grammar) !important;
        }
        &.t-flags {
            .name {
                color: var(--constant) !important;
            }

            ~ .body > .inner > .values > ul.list.values > li:before {
                content: 'ⓒ';
                color: var(--constant);
            }
        }
        &.t-const .name {
            cursor: default;
        }

        .class {
            color: var(--type-name);
        }


        .length {
            color: var(--length);
        }

        .oid {
            margin-right: 0 !important;
            color: var(--id);

            &:before {
                content: '#';
                color: var(--grammar);
                opacity: 0.5;
                margin-right: 0.2em;
            }
        }
        a.oid:before {
            content: '&';
        }


        &:target {
            > .name {
                background: var(--keyword-target);
                color: white !important;
                border-radius: 0.3em;
                padding: 0 0.3em;
                margin: 0 0.4em 0 -0.3em;
                line-height: 1.3;
            }

            > .oid {
                background: var(--id-target);
                color: white;
                border-radius: 0.3em;
                padding: 0 0.3em;
                margin: 0 -0.3em;
                line-height: 1.3;

                &:before {
                    color: white;
                }
            }
        }
    }

    &:not(.w-body) > div.title > span.buttons {
        opacity: 0.3;
    }

    > div.body {
        padding: 0 0 0 2rem;
        border-left: 1px solid rgba($gray, 0.06);
        position: relative;
        height: 0;
        display: none;
        transition: height 0.35s;

        > .inner {
            padding: 0;
            position: relative;
            height: 0;
            display: none;
            transition: height 0.35s;

            &.t-stack-list {
                height: auto;
                display: block;
            }

            &.t-stack > div.stack:before {
                content: 'ⓢ';
                color: var(--list-stack-icon);
                opacity: 0.5;
                position: relative;
                margin-top: 0.3em;
                font-size: 0.9em;
                font-weight: bold;
            }


            &.t-text {
                > div.binary i {
                    margin-right: 0.5em;
                    color: var(--binary);
                }

                > div.text {
                    &:before {
                        content: 'ⓣ';
                        color: var(--list-text-icon);
                        position: relative;
                        margin-top: 0.3em;
                        font-size: 0.9em;
                        font-weight: bold;
                    }

                    > .string.m > .line {
                        border-left: 1rem solid rgba($red-bright, 0.06);
                    }
                }
            }

            &.t-def {
                > div.def {
                    &:before {
                        content: 'ⓓ';
                        color: var(--list-definition-icon);
                        position: relative;
                        margin-top: 0.3em;
                        font-size: 0.9em;
                        font-weight: bold;
                    }

                    > .string.m > .line {
                        border-left: 1rem solid rgba($red-bright, 0.06);
                    }
                }
            }
        }


        &.stack > div.stack:before {
            display: none;
        }
    }

    &.w-body > div.body,
    &.w-t-info > div.body > .inner.t-info,
    &.w-t-meta > div.body > .inner.t-meta,
    &.w-t-text > div.body > .inner.t-text,
    &.w-t-def > div.body > .inner.t-def,
    &.w-t-props > div.body > .inner.t-props,
    &.w-t-values > div.body > .inner.t-values,
    &.w-t-stack > div.body > .inner.t-stack {
        height: auto;
        display: block;
    }

    &.transitioning > div.body {
        overflow-y: hidden;
        //width: 100vw;

        > .inner {
            overflow-y: hidden;
            //width: 100vw;
        }
    }
}
