samp.dump {
    display: block;
    font-size: 0.75rem;
    margin-bottom: 1rem;
    //min-width: 700px;
    white-space: nowrap;
    line-height: 1.5;

    &.trace {
        padding: 1rem 0;
        border-top: 1px solid #EEE;
    }
}
