.null,
.bool,
.int,
.float {
    color: var(--scalar);
    font-weight: 600;
}
.bool {
    font-style: italic;
}
.int, .float {
    color: var(--number);
}

.resource {
    color: var(--resource);
}

.g, .pointer {
    color: var(--grammar);
}
.pointer {
    opacity: 0.5;
}


.string {
    > .line {
        color: var(--string);
    }

    > .length {
        color: var(--length);
        margin-left: 0.5em;
        display: none;
    }

    &:hover > .length {
        display: inline;
    }

    &.identifier {
        color: var(--identifier);

        &:before, &:after {
            display: none;
        }
    }

    &.def {
        > .line {
            color: var(--definition);
        }
    }

    &.s {
        > .line {
            &:before, &:after {
                content: '"';
                color: var(--grammar);
                opacity: 0.5;
            }
        }

        &.def {
            > .line {
                &:before, &:after {
                    display: none;
                }
            }
        }
    }

    &.m {
        padding-right: 1rem;
        display: inline;
        white-space: pre-line;

        &:before, &:after {
            content: '"""';
            color: var(--grammar);
            opacity: 0.6;
        }

        > .line {
            margin-left: -0.1rem;
            padding-left: 0.1rem;
            border-left: 1px solid rgba($gray, 0.06);
            white-space: pre;

            &:after {
                content: 'âŽ';
                color: var(--grammar);
                opacity: 0.5;
                font-size: 1.3em;
                line-height: 1;
                margin-left: 0.2em;
            }

            &:last-child:after {
                display: none;
            }
        }

        &.def {
            &:before, &:after {
                content: '$$$';
            }

            > .line {
                padding-left: 0.1rem;
            }
        }

        &.large {
            &.show {
                cursor: n-resize;
            }

            &:not(.show) {
                cursor: s-resize;

                &:after {
                    content: '""" show more';
                }

                > .line {
                    position: relative;

                    &:nth-child(1n+11) {
                        display: none;
                    }

                    &:nth-child(9) {
                        opacity: 0.6;
                    }

                    &:nth-child(10) {
                        opacity: 0.3;
                    }
                }
            }
        }

        &.exception {
            &:before, &:after {
                content: '!!!';
            }

            div.line {
                font-size: 1.4em;
            }
        }
    }

    span.control {
        color: var(--identifier);
        opacity: 0.85;

        &.tab {
            display: inline-block;
            opacity: 0.7 !important;
            background: rgba($gray-500, 0.1);
            margin-right: 2px;

            &:after {
                content: '  ';
            }
        }
    }

    .g {
        opacity: 0.5;
    }
}
