span.signature {
    i {
        font-style: normal;

        &.ns {
            color: $cyan;
            filter: brightness(0.65);
            opacity: 0.75;
        }

        &.cl {
            color: $cyan;
            filter: brightness(0.5);
        }

        &.ty {
            color: $gray;
            opacity: 0.6;
        }

        &.fn {
            color: $blue;
            filter: brightness(0.75);
            font-weight: bold;

            &.closure {
                font-style: italic;

                &:before, &:after {
                    color: $gray;
                    opacity: 0.4;
                }

                &:before {
                    content: '{';
                }

                &:after {
                    content: '}';
                }
            }
        }

        &.ob {
            color: $cyan;
            font-style: italic;
        }

        &.co {
            color: $purple;
            font-weight: bold;
        }
    }

    span.ar {
        color: $cyan;
        font-style: italic;

        i.br:first-child:after {
            content: '…';
            color: $gray;
            opacity: 0.7;
        }
    }

    span.string .line {
        padding-right: 0;
    }
}



html.dark {
    span.signature {
        i {
            &.ns {
                color: lighten($cyan, 10%);
                filter: none;
                opacity: 0.85;
            }

            &.cl {
                color: lighten($cyan, 15%);
                font-weight: bold;
                filter: none;
            }

            &.fn {
                color: lighten($blue, 20%);
                filter: none;
                font-weight: bold;

                &.closure {
                    &:before, &:after {
                        opacity: 0.9;
                    }
                }
            }

            &.ob {
                color: lighten($cyan, 15%);
            }

            &.co {
                color: lighten($purple, 20%);
                font-weight: bold;
            }
        }

        span.ar {
            color: $cyan;
            font-style: italic;

            i.br:first-child:after {
                content: '…';
                color: $gray;
                opacity: 0.7;
            }
        }

        span.string .line {
            padding-right: 0;
        }
    }
}
