span.signature {
    span.name {
        &.function {
            font-weight: bold;

            &.closure {
                font-style: italic;

                &:before, &:after {
                    color: $gray;
                    opacity: 0.9;
                }

                &:before {
                    content: '{';
                }

                &:after {
                    content: '}';
                }
            }
        }

        &.class.param {
            color: lighten($cyan, 15%);
            font-style: italic;
        }
    }

    span.ar {
        color: $cyan;
        font-style: italic;

        i.br:first-child:after {
            content: '…';
            color: $gray;
            opacity: 0.7;
        }
    }

    span.string .line {
        padding-right: 0;
    }
}
