ul.stack {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        span {
            &.number {
                width: 1rem;
                display: inline-block;
            }
            &.signature {
                color: var(--orange);
                padding-right: 1rem;

                &:after {
                    content: "\A";
                    white-space: pre;
                }

                > *:last-child {
                    padding-right: 1rem;
                }
            }
            &.file {
                color: var(--orange);
                opacity: 0.75;
                margin-left: 2.5em;

                &:after {
                    content: ' :';
                    color: var(--gray);
                    opacity: 0.5;
                }
            }
            &.line {
                color: var(--pink);
                padding-right: 1rem;
            }
        }
    }
}
