body {
    padding: 2rem 1rem;
}

header.stats {
    margin-bottom: 2rem;
}



.tooltip-inner {
    background-color: #DCD9BB;
    color: black;
    max-width: 30rem;
}
.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: #DCD9BB !important;
}
.tooltip.bs-tooltip-left .arrow:before {
    border-left-color: #DCD9BB !important;
}
.tooltip.bs-tooltip-bottom .arrow:before {
    border-bottom-color: #DCD9BB !important;
}
.tooltip.bs-tooltip-top .arrow:before {
    border-top-color: #DCD9BB !important;
}


samp.dump {
    display: block;
    font-size: 0.75rem;
    margin-bottom: 1rem;
    min-width: 700px;
}


/* SCALARS */
.null {
    color: var(--pink);
    font-weight: 600;
}
.bool {
    color: var(--pink);
    font-style: italic;
    font-weight: 600;
}
.int {
    color: var(--indigo);
}
.float {
    color: var(--indigo);
}
.float:before {
    content: 'f';
    color: var(--gray);
    opacity: 0.5;
    margin-right: 0.2em;
}

/* STRING */
.string {
    color: var(--red);
}
.string.identifier {
    color: var(--orange);
}
.string.m {
    padding-right: 1rem;
    display: inline;
    white-space: pre;
}
.string.m.large:not(.show) {
    cursor: s-resize;
}
.string.m.large.show {
    cursor: n-resize;
}
.string.m.large:not(.show) > .line {
    position: relative;
}
.string.m.large:not(.show) > .line:nth-child(1n+11) {
    display: none;
}
.string.m.large:not(.show) > .line:nth-child(9) {
    opacity: 0.6;
}
.string.m.large:not(.show) > .line:nth-child(10) {
    opacity: 0.3;
}

.string > .length {
    color: var(--teal);
    margin-left: 0.5em;
    display: none;
}
.string:hover > .length {
    display: inline;
}
.string.s > .line:before, .string.s > .line:after {
    content: '"';
    color: var(--gray);
    opacity: 0.5;
}
.string.m:before, .string.m:after {
    content: '"""';
    color: var(--gray);
    opacity: 0.5;
}
.string.m.large:not(.show):after {
    content: '""" show more';
}
.string.identifier:before, .string.identifier:after {
    display: none;
}
.string.m > .line {
    margin-left: -0.1rem;
    padding-left: 0.1rem;
    border-left: 1px solid #F5F5F5;
}
.string.m > .line:after {
    content: '⏎';
    color: var(--gray);
    opacity: 0.5;
    font-size: 1.3em;
    line-height: 1;
    margin-left: 0.2em;
}
.string.m > .line:last-child:after {
    display: none;
}


.pointer {
    color: var(--gray);
    opacity: 0.5;
}

.g {
    color: var(--gray);
}



/* ENTITY */
.entity.title,
.entity.footer {
    display: inline-flex;
    align-items: center;
    position: relative;
}
.entity.title > * {
    margin-right: 0.5em;
}
.entity.title .name {
    color: var(--green) !important;
    cursor: pointer;
    text-decoration: none;
}
.entity.title .name.ref:before {
    content: '&';
    color: var(--gray);
    opacity: 0.5;
    margin-right: 0.2em;
}
.entity.title .length {
    cursor: pointer;
    color: var(--teal);
    margin-left: -0.5em;
}
.entity.title .length:before {
    content: ':';
    color: var(--gray);
    opacity: 0.5;
}
.popup {
    position: absolute;
}
.oid {
    margin-right: 0 !important;
    color: var(--gray);
}
.oid:before {
    content: '#';
    color: var(--gray);
    opacity: 0.5;
    margin-right: 0.2em;
}
a.oid:before {
    content: '&';
}

.entity:target > .oid {
    background: var(--purple);
    color: white;
    border-radius: 0.3em;
    padding: 0 0.3em;
    margin: 0 -0.3em;
}
.entity:target > .oid:before {
    color: white;
}

a.info + div {
    position: relative;
    left: -0.2em;
}
div.info div + h6 {
    margin-top: 1rem;
}

div.inner {
    padding: 0 0 0 2rem;
    display: block;
}

div.inner > .inner {
    padding: 0;
}

div.inner.body {
    border-left: 1px solid #F5F5F5;
}

ul.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.list > li > ul.list {
    margin-left: 2rem;
}
ul.list.inline {
    display: inline-block;
    margin: 0 0 0 2rem !important;
}
ul.list > li > .g {
    margin-right: -2rem;
}


ul.list.inline {
    display: inline-flex;
    flex-wrap: wrap;
}
ul.list > li {
    position: relative;
}
ul.list.inline > li:after {
    content: ',';
    color: var(--gray);
    opacity: 0.5;
    margin-right: 1em;
}
ul.list.inline > li:last-child:after {
    display: none;
}

ul.list > li > .identifier.key {
    position: relative;
    white-space: pre;
}
ul.list > li > .identifier.key:before {
    content: 'ⓟ';
    color: var(--green);
    opacity: 1;
    /*
    position: absolute;
    display: block;
    margin-left: -1.5em;
    */

    display: none;
    position: relative;
    margin-top: 0.3em;
    margin-right: 0.6em;
    font-size: 0.8em;
}

ul.list.info > li > .string.identifier {
    color: var(--cyan);
}
ul.list.info > li > .identifier.key {
    color: var(--gray);
    opacity: 0.75;
}
ul.list.info > li > .identifier.key:before {
    content: 'ⓘ';
    color: var(--cyan);
    opacity: 0.8;
    display: inline;
}


ul.list.meta > li > .string.identifier {
    color: var(--red);
}
ul.list.meta > li > .identifier.key {
    color: var(--grey);
    opacity: 0.75;
}
ul.list.meta > li > .identifier.key:before {
    content: 'ⓜ';
    color: var(--red);
    opacity: 0.8;
    display: inline;
}

ul.list.properties > li > .identifier.key {
    color: var(--blue);
    opacity: 0.75;
}

ul.list.properties > li > .identifier.key:before {
    content: 'ⓟ';
    color: var(--green);
    display: inline;
}
ul.list.properties > li > .identifier.key.protected:before {
    color: var(--yellow);
}
ul.list.properties > li > .identifier.key.private:before {
    color: var(--red);
    display: inline;
}
ul.list.properties > li > .identifier.key.public:before {
    color: var(--green);
    display: inline;
}
ul.list.properties > li > .identifier.key.virtual:before {
    content: 'ⓥ';
    color: var(--purple);
    display: inline;
}


ul.stack {
    list-style: none;
    padding: 0;
    margin: 0;
}
ul.stack li span.number {
    width: 1rem;
    display: inline-block;
}
ul.stack li span.signature {
    color: var(--orange);
}
ul.stack li span.signature:after {
    content: "\A";
    white-space: pre;
}
ul.stack li span.file {
    color: var(--green);
    opacity: 0.75;
    margin-left: 2rem;
    filter: grayscale(0.75);
}
ul.stack li span.file:after {
    content: ' :';
    color: var(--gray);
    opacity: 0.5;
}
ul.stack li span.line {
    color: var(--pink);
}

.inner > div.text {
    color: var(--red);
}
.inner > div.text.binary > i {
    margin-right: 0.5em;
    color: var(--indigo);
}

a.badge {
    cursor: help;
    font-size: 0.9em;
    color: white !important;
}
.badge.collapsed {
    opacity: 0.3;
}


a.badge i {
    font-style: normal;
    position: relative;
}
a.badge.info i {
    top: 0.05em;
}
a.badge.text i {
    top: 0.05em;
}
a.badge.properties i {
    top: -0.08em;
}

a.name.collapsed ~ a.badge.body {
    opacity: 0.1;
}
a.name.collapsed ~ a.badge.body.values {
    opacity: 0.3;
}
