:root {
    --source-font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --source-background: var(--background, #3F3F3F);
    --source-default-color: #DDD;
    --source-tag: #F76673;
    --source-grammar: var(--grammar, #ADB5BD);
    --source-keyword: var(--keyword, #47D368);
    --source-cast: #3CE0AF;
    --source-operator: #ADB5BD;
    --source-operator-special: #3CE0AF;
    --source-string: var(--string, #FF828C);
    --source-string-quote: var(--grammar, #ADB5BD);
    --source-number: var(--number, #BB9AF6);
    --source-variable: #E9ECEF;
    --source-comment: var(--comment, #DDB79E);
    --source-html: #E83E8C;
    --source-name: #DEE2E6;
    --source-member: #ADB5BD;
    --source-class: #8FE4F1;
    --source-namespace: #4CD3E9;
    --source-function: #C3DFFD;
    --source-constant: var(--constant, #C7B5E7);
    --source-scalar: var(--scalar, #F07EB2);

    --source-line-highlight: #4F5A5E;
    --source-line-number: #ADB5BD;
    --source-line-number-border: #666;
    --source-line-number-background: #52524F;
}

.source {
    color: var(--source-default-color);
    font-family: var(--source-font-family);
}

samp.source {
    overflow-x: auto;
    padding: 0 !important;
    white-space: normal !important;
    background: var(--source-background);
    display: block;
    font-size: 1em;
}

samp.source span.line {
    display: block;
    width: 100%;
    white-space: pre;
    color: inherit;
}

samp.source span.line.spacer {
    height: 0.5em;
}

samp.source span.line::after {
    content: '';
    padding-right: 1rem;
}

samp.source span.line.highlighted {
    background: var(--source-line-highlight);
}

samp.source span.line span.number {
    color: var(--source-line-number);
    opacity: 0.4;
    border-right: 2px solid var(--source-line-number-border);
    display: inline-block;
    width: 3.65em;
    text-align: right;
    padding-right: 0.3em;
    margin-right: 0.5em;
    background: var(--source-line-number-background);
}

samp.source span.line.spacer {
    display: flex;
}
samp.source span.line.spacer span.number {
    height: 0.5em;
    display: inline-block;
}

samp.source span.line.spacer::after {
    display: none;
}

.source span.keyword {
    color: var(--source-keyword);
}

.source span.keyword.flow {
    font-weight: bold;
}

.source span.keyword.function + .name {
    font-weight: bold;
}

.source .g {
    color: var(--source-grammar);
}

.source .cast {
    color: var(--source-cast);
    font-style: italic;
}

.source .tag {
    color: var(--source-tag);
    font-weight: bold;
}

.source .operator {
    color: var(--source-operator);
}
.source .operator.special {
    color: var(--source-operator-special);
}

.source .string {
    color: var(--source-string);
}

.source .string:before,
.source .string:after {
    content: attr(data-quote);
    color: var(--source-string-quote);
}

.source .int,
.source .float {
    color: var(--source-number);
    font-weight: bold;
}

.source .var {
    color: var(--source-variable);
}
.source .var.this {
    font-style: italic;
}

.source .comment {
    color: var(--source-comment);
}

.source .html {
    color: var(--source-html);
}

.source .name {
    color: var(--source-name);
}
.source .class.return {
    font-style: italic;
}
.source .member {
    color: var(--source-member);
}
.source .class {
    color: var(--source-class);
}
.source .namespace {
    color: var(--source-namespace);
}
.source .function {
    color: var(--source-function);
}

.source .constant {
    color: var(--source-constant);
}

.source .bool,
.source .null {
    color: var(--source-scalar);
    font-weight: 600;
    font-style: italic;
}
