a.badge {
    cursor: help;
    font-size: 0.9em;
    color: white !important;
    padding: 0 0.5em;
    border-radius: 0.25em;
    transition: background-color 0.35s, opacity 0.2s;
    opacity: 0.3;

    i {
        font-style: normal;
        position: relative;
    }

    &.info {
        background-color: var(--badge-info);

        &:hover {
            background-color: var(--badge-info-hover);
        }

        i {
            top: 0.05em;
        }
    }
    &.meta {
        background-color: var(--badge-meta);

        &:hover {
            background-color: var(--badge-meta-hover);
        }
    }
    &.text {
        background-color: var(--badge-text);

        &:hover {
            background-color: var(--badge-text-hover);
        }

        i {
            top: 0.05em;
        }
    }
    &.def {
        background-color: var(--badge-definition);

        &:hover {
            background-color: var(--badge-definition-hover);
        }
    }
    &.props {
        background-color: var(--badge-properties);

        &:hover {
            background-color: var(--badge-properties-hover);
        }

        i {
            top: -0.08em;
        }
    }
    &.values {
        background-color: var(--badge-values);

        &:hover {
            background-color: var(--badge-values-hover);
        }
    }
    &.stack {
        background-color: var(--badge-stack);

        &:hover {
            background-color: var(--badge-stack-hover);
        }
    }
}

div.entity {
    &.w-t-info > div.title a.info,
    &.w-t-meta > div.title a.meta,
    &.w-t-text > div.title a.text,
    &.w-t-def > div.title a.def,
    &.w-t-props > div.title a.props,
    &.w-t-values > div.title a.values,
    &.w-t-stack > div.title a.stack {
        opacity: 1;
    }
}
