.badge {
    cursor: help;
    font-size: 0.9em;
    color: white !important;
    padding: 0 0.5em;
    border-radius: 0.25em;
    margin: 0;

    border: none;
    transition:
        background-color 0.35s,
        opacity 0.2s;
    opacity: 0.3;

    i {
        font-style: normal;
        position: relative;
    }

    input {
        display: none;
    }

    &.info {
        background-color: var(--badge-info);

        &:hover {
            background-color: var(--badge-info-hover);
        }

        i {
            top: 0.05em;
        }
    }
    &.meta {
        background-color: var(--badge-meta);

        &:hover {
            background-color: var(--badge-meta-hover);
        }
    }
    &.text {
        background-color: var(--badge-text);

        &:hover {
            background-color: var(--badge-text-hover);
        }

        i {
            top: 0.05em;
        }
    }
    &.definition {
        background-color: var(--badge-definition);

        &:hover {
            background-color: var(--badge-definition-hover);
        }
    }
    &.properties {
        background-color: var(--badge-properties);

        &:hover {
            background-color: var(--badge-properties-hover);
        }

        i {
            top: -0.08em;
        }
    }
    &.values {
        background-color: var(--badge-values);

        &:hover {
            background-color: var(--badge-values-hover);
        }
    }
    &.stack {
        background-color: var(--badge-stack);

        &:hover {
            background-color: var(--badge-stack-hover);
        }
    }
}

div.container:has(> header > input:checked) > header .badge:has(input:checked) {
    opacity: 1;
}
