@use "@/sass/modules/colors" as *;

section.exception {
    //background: rgba(#333, 0.6);

    samp.dump.exception {
        min-width: 0;
        border-radius: 2px;
        padding: 1rem;

        div.message {
            margin-bottom: 1rem;
            border-left: 3px solid $red;
            padding-left: 1rem;

            &:last-child {
                margin-bottom: 0;
            }

            div.line {
                font-size: 2em;
                border: none;
                white-space: normal;
                padding-left: 0.1rem;
            }

            div.string.m {
                &:before,
                &:after {
                    content: "!!!";
                }
            }
        }

        .attr {
            color: var(--attr);
            font-weight: 600;

            .label {
                color: var(--attr-label);
                font-weight: normal;

                &:after {
                    content: ":";
                    color: var(--grammar);
                }
            }
        }
    }
}

html.incomplete section.exception samp.dump.exception div.message {
    border-color: $orange;
}
