.signature.source {
    span.name {
        &.function {
            font-weight: bold;

            &.closure {
                font-style: italic;

                &:before,
                &:after {
                    color: var(--grammar);
                    opacity: 0.9;
                }

                &:before {
                    content: "{";
                }

                &:after {
                    content: "}";
                }
            }
        }

        &.class.param {
            color: var(--source-class);
            font-style: italic;
        }
    }

    span.array {
        color: var(--number);

        .g:first-child:after {
            content: "…";
            color: var(--grammar);
            opacity: 0.7;
        }
    }

    span.string .line {
        padding-right: 0;
    }
}
