@use "@/sass/modules/colors" as *;

section.stack {
    flex: 1 1 100%;
    display: flex;
    max-width: 100%;
    flex-direction: column;
    background: linear-gradient(to bottom, rgba(white, 0.1) 0, rgba(white, 0) 12rem, rgba(black, 0.1));

    > div {
        position: relative;
        flex: 1 1 100%;
    }
}

div.stack-list > ul.stack {
    padding: 0.5em 0;
}

.stack-frame {
    border: 3px solid transparent;
    transition: all 0.5s;
    display: block;

    input {
        display: none;
    }

    samp.source {
        max-height: 0;
        transition: max-height 0.35s;
    }

    &:has(input:checked) {
        box-shadow: 2px 0.5rem 0.5rem rgba(black, 0.2);
        border-color: rgba(#222, 0.85);

        margin-bottom: 1em;
        margin-top: 1em;

        samp.dump.trace {
            cursor: n-resize;
        }

        samp.source {
            max-height: 25rem;
        }
    }
}

ul.stack {
    list-style: none;
    padding: 1rem;
    margin: 0;

    > li {
        background: rgba(#999, 0.1);
        margin-bottom: 2px;
        border-radius: 2px;
    }

    &:first-child .stack-frame:has(input:checked) {
        margin-top: 0;
    }

    samp.dump.trace {
        padding: 0.5rem 0.75rem 0.5rem 4em;
        cursor: s-resize;
        transition:
            margin-top 0.2s,
            border-color 0.2s ease-out;
        overflow-x: auto;
        border: none;
        position: relative;

        > span {
            &.number {
                color: var(--frame-number);
                width: 2em;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: right;
                position: absolute;
                width: 2.9em;
                top: 0;
                left: 0;
                bottom: 0;
                height: 100%;
                background: rgba(white, 0.04);
            }
            &.signature {
                padding-right: 1rem;

                &:after {
                    content: "\A";
                    white-space: pre;
                }

                > *:last-child {
                    padding-right: 1rem;
                }
            }
            &.file {
                &.internal {
                    font-style: italic;
                }
            }
            &.line {
                padding-right: 1rem;
            }
        }
    }

    samp.source {
        padding: 0.5rem 0.75rem;
        border-radius: 0 0 2px 2px;
        font-size: 0.8em;

        &:before {
            content: "";
            display: block;
            width: 100%;
            border-top: 1px solid rgba(#333, 0.8) !important;
        }
    }
}

div.stack-list ul.stack .stack-frame samp.dump.trace {
    padding-top: 0;
    padding-bottom: 0;
    cursor: default;
}

html.dump {
    ul.stack .stack-frame:has(input:checked) {
        border-color: rgba($blue, 0.85);
    }
}

html.exception {
    ul.stack .stack-frame:has(input:checked) {
        border-color: rgba($red, 0.85);
    }
}

html.incomplete {
    ul.stack .stack-frame:has(input:checked) {
        border-color: rgba($orange, 0.85);
    }
}
